/* Slider */
.slider-container{
    position:relative;
    width:90%;
    max-width:1000px;
    margin:20px auto;
}
.slider{
    width:100%;
    overflow:hidden;
    border-radius:8px;
}
.slider-track{
    display:flex;
    width:400%;
    transition:transform 0.6s ease-in-out;
}
.slider-track img{
    width:100%;
    flex-shrink:0;
    object-fit:cover;
}